/*****************************
			GENERAL
*****************************/
 * {
    box-sizing: border-box;
}

 body {
 	font-family: 'Press Start 2P', cursive;
 	background-color: #e6f2ff; 	text-align: center;
 }

 button, .button, a {
 	font-family: 'Press Start 2P', cursive;
 	font-size: 24px;
 	color: black;
 	padding: 12px;
 	border: 5px solid black;
 	background-color: #e6f2ff;
 	display: block;
 	margin: 20px;
 	text-decoration: none;
 	cursor: pointer;
 }

.container {
	display: grid;
	justify-content: space-around;
}

.youPick {
	display: inline;
}